@use '../../styles/mixins.scss' as mixins;

.display {
  @include mixins.glassmorphism(0.1, 80px, 0.01);

  width: auto;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 1rem;

  .operationList {
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .currentItem {
    font-size: 4rem;
    font-weight: 700;
    color: #fff;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.switchBtn {
  @include mixins.glassmorphism(0.12, 8px, 0.01);

  width: 80px;
  height: 50px;
  display: flex;
  position: absolute;
  top: 10px;
  left: 10px;

  .switch {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
      filter: brightness(1.2);
      scale: 1.1;
    }
  }
}