@use '../../styles/mixins.scss' as mixins;

.switchBtn {
  @include mixins.glassmorphism(0.12, 8px, 0.01);

  width: 80px;
  height: 50px;
  display: flex;
  position: absolute;
  top: 10px;
  left: 10px;

  .switch {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
      filter: brightness(1.2);
      scale: 1.1;
    }
  }
}